.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0d6efd;
    padding: 10px;
}

.form-input {
    margin-bottom: 25px;
}

.text-center {
    text-align: center;
}

.form-body {
    padding-top: 20px;
}