@model EC.AuthService.Web.Models.SignInViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "SignIn";
    Layout = "_Layout";
}

<div class="col-md-2 center rounded">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title text-center h3">E-Shop</div>
        </div>
        <div class="panel-body form-body">
            <form asp-action="SignIn" asp-controller="Account" method="post" class="form-horizontal" role="form">
                <div class="col-md-12 form-input">
                    <input asp-for="Email" type="email" class="form-control" name="email" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-input">
                    <input asp-for="Password" type="password" class="form-control" name="password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary col-md-12">Login</button>
                </div>
                <hr/>
                <div class="text-center">
                    <a asp-action="SignUp" asp-controller="Account" class="link-secondary">Don't have an account?</a>
                </div>
            </form>
        </div>
    </div>
</div>